Repository massalabs/massa-as-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: as-prettier --check, eslint --ext .ts

.lintstagedrc:

{
    "*.{js,ts,jsx,tsx,json}": [
        "as-prettier --check"
    ],
    "*.ts": [
        "eslint --ext .ts"
    ]
}

better way to handle assemblyscript version conflict
  package-lock.json
  package.json
Due: as-prettier --check

added some hashmap extra functonalities
  assembly/collections/__tests__/persistentMap.spec.ts
  assembly/collections/persistentMap.ts
  package-lock.json
  package.json
Due: as-prettier --check, eslint --ext .ts

updated package-lock.json
  package-lock.json
Due: as-prettier --check

fixed unit tests
  assembly/collections/__tests__/persistentMap.spec.ts
Due: as-prettier --check, eslint --ext .ts

fixed tests
  assembly/collections/__tests__/persistentMap.spec.ts
Due: as-prettier --check, eslint --ext .ts

add NFT contract and wrapper
  assembly/NFT/NFT.ts
  assembly/NFT/NFTWrapper.ts
Due: as-prettier --check, eslint --ext .ts

resolve compiling issues
  assembly/NFT/NFT.ts
  assembly/NFT/NFTWrapper.ts
Due: as-prettier --check, eslint --ext .ts

add call function example and tests repos
  assembly/NFT/NFTWeb3.ts
  assembly/NFT/__tests__/NFT.spec.ts
  assembly/NFT/__tests__/tester.d.ts
Due: as-prettier --check, eslint --ext .ts

remove aspect, add envy
  package.json
  yarn.lock
Due: as-prettier --check

add get,set and has function in astester
  astester.imports.js
Due: as-prettier --check

fix imports and add unit tests
  assembly/NFT/NFTWeb3.ts
  assembly/NFT/NFTWrapper.ts
  assembly/NFT/__tests__/NFT.spec.ts
Due: as-prettier --check, eslint --ext .ts

Format, lint, git hook and update CI (#22)
  .eslintignore
  .eslintrc.json
  .github/workflows/node.js.yml
  .husky/pre-commit
  .lintstagedrc
  .prettierrc
  assembly/collections/__tests__/persistentMap.spec.ts
  assembly/collections/persistentMap.ts
  assembly/env/env.ts
  assembly/std/__tests__/index.spec.ts
  assembly/std/address.ts
  assembly/std/index.ts
  assembly/std/storage.ts
  assembly/token/__tests__/erc20.spec.ts
  assembly/token/impl.ts
  assembly/tsconfig.json
  assembly/vm-mock/storage.ts
  package-lock.json
  package.json
Due: as-prettier --check, eslint --ext .ts

change imports and add comments
  assembly/NFT/NFT.ts
  assembly/NFT/NFTWeb3.ts
Due: as-prettier --check, eslint --ext .ts

fix changes on astester.imports
  astester.imports.js
Due: as-prettier --check

added token owner and minting
  assembly/token/impl.ts
Due: as-prettier --check, eslint --ext .ts

add export for mint func
  assembly/token/impl.ts
Due: as-prettier --check, eslint --ext .ts

fixed the mint func
  assembly/token/impl.ts
  assembly/token/wrapper.ts
Due: as-prettier --check, eslint --ext .ts

add comments
  assembly/NFT/NFT.ts
Due: as-prettier --check, eslint --ext .ts

changes following meeting with Greg
  assembly/NFT/NFT.ts
  assembly/NFT/NFTWrapper.ts
Due: as-prettier --check, eslint --ext .ts

change tokenID type
  assembly/NFT/NFT.ts
  assembly/NFT/NFTWrapper.ts
Due: as-prettier --check, eslint --ext .ts

add test file and web3
  assembly/NFT/NFTWeb3.ts
  assembly/NFT/NFT_fortest.ts
  assembly/NFT/__tests__/NFT.spec.ts
Due: as-prettier --check, eslint --ext .ts

add unit tests
  assembly/NFT/NFT.ts
  assembly/NFT/NFT_fortest.ts
  assembly/NFT/__tests__/NFT.spec.ts
Due: as-prettier --check, eslint --ext .ts

added decimals
  assembly/token/impl.ts
  assembly/token/wrapper.ts
Due: as-prettier --check, eslint --ext .ts

change mint logic
  assembly/NFT/NFT.ts
  assembly/NFT/NFTWrapper.ts
  assembly/NFT/NFT_fortest.ts
  assembly/NFT/__tests__/NFT.spec.ts
Due: as-prettier --check, eslint --ext .ts

working NFT
  assembly/NFT/NFT.ts
  assembly/NFT/NFTWeb3.ts
  assembly/NFT/NFTWrapper.ts
  package-lock.json
Due: as-prettier --check, eslint --ext .ts

replace _value and solve max supply issue
  assembly/NFT/NFT.ts
Due: as-prettier --check, eslint --ext .ts

Update astester.imports.js
  astester.imports.js
Due: as-prettier --check

add comments to NFTfortest
  assembly/NFT/NFT_fortest.ts
Due: as-prettier --check, eslint --ext .ts

fix baseURI changeable and replace _value by tostringSegment()
  assembly/NFT/NFT.ts
  assembly/NFT/NFT_fortest.ts
  assembly/NFT/__tests__/NFT.spec.ts
Due: as-prettier --check, eslint --ext .ts

update NFT address
  assembly/NFT/NFTWeb3.ts
Due: as-prettier --check, eslint --ext .ts

Delete yarn.lock
  yarn.lock
Due: none

event coherence
  assembly/NFT/NFT.ts
Due: as-prettier --check, eslint --ext .ts

fix max supply
  assembly/NFT/NFT.ts
Due: as-prettier --check, eslint --ext .ts

replace _value for toByteString()
  assembly/NFT/NFT.ts
Due: as-prettier --check, eslint --ext .ts

Update package.json
  package.json
Due: as-prettier --check

resolve linter
  .eslintignore
  assembly/NFT/NFT.ts
  assembly/NFT/NFTWeb3.ts
  assembly/NFT/NFTWrapper.ts
  assembly/NFT/NFT_fortest.ts
  assembly/NFT/__tests__/NFT.spec.ts
Due: as-prettier --check, eslint --ext .ts

add npm dev publish workflow (#21)
  .github/workflows/node.js.yml
  .github/workflows/npm-publish-dev.yml
  .github/workflows/npm-publish.yml
  scripts/enable-git-ssh.sh
  scripts/publish-dev.sh
Due: none

format code
  assembly/NFT/NFT.ts
  assembly/NFT/NFTWrapper.ts
  assembly/NFT/NFT_fortest.ts
Due: as-prettier --check, eslint --ext .ts
