Repository massalabs/massa-as-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

.lintstagedrc:

{
    "*.{js,ts,jsx,tsx,json,cjs}": [
        "npm run lint"
    ],
    "*.ts": [
        "npm run prettier"
    ]
}

Disable coverage
  as-pect-ci.config.js
  package-lock.json
  package.json
Due: npm run lint

Generate coverage badge
  README.md
Due: none

Generate powered-by
  powered-by.md
Due: none

Add setCallCoins to mock SC call coins
  assembly/__tests__/env-coins.spec.ts
  assembly/std/__tests__/context.spec.ts
  assembly/vm-mock/env.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

Fix setCallCoins() to reset the mock value after the test
  assembly/__tests__/env-coins.spec.ts
  assembly/std/__tests__/context.spec.ts
  assembly/vm-mock/env.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

Fix import after rebase
  assembly/std/__tests__/context.spec.ts
Due: npm run lint, npm run prettier

Fix getOriginOperationId description
  assembly/std/contract/calls.ts
Due: npm run lint, npm run prettier

add balance mock in vm-mock
  assembly/vm-mock/env.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

fix linter config
  .lintstagedrc
  package.json
Due: npm run lint

deprecate setCallCoin and add mockTransferredCoin
  assembly/__tests__/env-coins.spec.ts
  assembly/std/__tests__/context.spec.ts
  assembly/vm-mock/env.ts
Due: npm run lint, npm run prettier

add mockOriginOperationId
  assembly/__tests__/vm-mock.spec.ts
  assembly/vm-mock/env.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

vm-mock renaming
  vm-mock/vm.js
Due: npm run lint

vm-mock: fix balance mock
  assembly/__tests__/vm-mock.spec.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

vm-mock: add colored error message
  vm-mock/vm.js
Due: npm run lint

vm-mock: fix transfer mock sender
  assembly/__tests__/vm-mock.spec.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

Add assertIsSmartContract function and tests
  assembly/std/__tests__/assertIsSmartContract.spec.ts
  assembly/std/utils/address.ts
  package-lock.json
Due: npm run lint, npm run prettier

Fix assembly_script_transfer_coins
  vm-mock/vm.js
Due: npm run lint

Add test for transfercoin fail if balance undifined
  assembly/__tests__/env-coins.spec.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

Fix test throw error if from balance is 0
  assembly/__tests__/env-coins.spec.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

add access control
  assembly/__tests__/access_control.spec.ts
  assembly/index.ts
  assembly/security/accessControl.ts
  assembly/security/index.ts
Due: npm run lint, npm run prettier

update package.json
  package-lock.json
Due: npm run lint

update package-lock
  package-lock.json
Due: npm run lint

Prettier
  assembly/security/accessControl.ts
Due: npm run lint, npm run prettier

Update assembly/__tests__/access_control.spec.ts
  assembly/__tests__/access_control.spec.ts
Due: npm run lint, npm run prettier

fix any permission use case
  assembly/__tests__/access_control.spec.ts
  assembly/security/accessControl.ts
Due: npm run lint, npm run prettier

fmt
  assembly/security/accessControl.ts
Due: npm run lint, npm run prettier

Fix any permission in test en doc example
  assembly/__tests__/access_control.spec.ts
  assembly/security/accessControl.ts
Due: npm run lint, npm run prettier

add access control (#335)
  assembly/__tests__/access_control.spec.ts
  assembly/index.ts
  assembly/security/accessControl.ts
  assembly/security/index.ts
  package-lock.json
Due: npm run lint, npm run prettier

add liquidity manager
  assembly/helpers/__tests__/liquidityManager.spec.ts
  assembly/helpers/liquidityManager.ts
Due: npm run lint, npm run prettier

remove updateAllowance with insufficient funds test
  assembly/helpers/__tests__/liquidityManager.spec.ts
Due: npm run lint, npm run prettier

add liquidity manager (#337)
  assembly/helpers/__tests__/liquidityManager.spec.ts
  assembly/helpers/liquidityManager.ts
Due: npm run lint, npm run prettier

Update as-types to dev version
  package-lock.json
  package.json
Due: npm run lint
