Repository massalabs/massa-as-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

.lintstagedrc:

{
    "*.{js,ts,jsx,tsx,json,cjs}": [
        "npm run lint"
    ],
    "*.ts": [
        "npm run prettier"
    ]
}

add mock for assembly_script_get_origin_operation_id
  package-lock.json
  vm-mock/vm.js
Due: npm run lint

vm-mock: generate random opId
  vm-mock/vm.js
Due: npm run lint

Support all new evm abis
  assembly/env/env.ts
  assembly/std/utils/address.ts
  assembly/std/utils/crypto.ts
  assembly/std/utils/index.ts
Due: npm run lint, npm run prettier

Generate coverage badge
  README.md
Due: none

update tag
  package-lock.json
  package.json
Due: npm run lint

Add AbiEncode & friends + Bytes32 + Bytes4 classes
  assembly/std/__tests__/solidity_compat_bytes.spec.ts
  assembly/std/__tests__/solidity_compat_encode.spec.ts
  assembly/std/__tests__/solidity_compat_misc.spec.ts
  assembly/std/solidity_compat/bytes.ts
  assembly/std/solidity_compat/encode.ts
  assembly/std/solidity_compat/misc.ts
  package-lock.json
  package.json
Due: npm run lint, npm run prettier

Update bytes.ts import + minor fixes
  assembly/std/solidity_compat/bytes.ts
Due: npm run lint, npm run prettier

Fix some code smells reported by SonarCloud
  assembly/std/solidity_compat/bytes.ts
  assembly/std/solidity_compat/encode.ts
Due: npm run lint, npm run prettier

Avoid code duplication in AbiEncode
  assembly/std/solidity_compat/encode.ts
Due: npm run lint, npm run prettier

Generate powered-by
  powered-by.md
Due: none

Add proper credits for persistentMap
  assembly/collections/persistentMap.ts
Due: npm run lint, npm run prettier

Add prefix for getOpKeys
  assembly/env/env.ts
  assembly/std/op-datastore/op-datastore.ts
Due: npm run lint, npm run prettier

Update unit tests
  assembly/__tests__/env-opdatastore.spec.ts
Due: npm run lint, npm run prettier

Restore getOpKeys and add getOpKeysPrefix
  assembly/__tests__/env-opdatastore.spec.ts
  assembly/env/env.ts
  assembly/std/op-datastore/op-datastore.ts
Due: npm run lint, npm run prettier

npm prettier pass
  assembly/env/env.ts
  assembly/std/op-datastore/op-datastore.ts
Due: npm run lint, npm run prettier

PersistentMap: add support for StaticArray<u8> + Serilizable object
  assembly/collections/__tests__/persistentMap.spec.ts
  assembly/collections/persistentMap.ts
Due: npm run lint, npm run prettier

Update assembly/collections/__tests__/persistentMap.spec.ts
  assembly/collections/__tests__/persistentMap.spec.ts
Due: npm run lint, npm run prettier

update version minor
  package-lock.json
  package.json
Due: npm run lint

export solidity_compact functions and objects
  assembly/std/index.ts
  assembly/std/solidity_compat/index.ts
Due: npm run lint, npm run prettier

patch version
  package-lock.json
  package.json
Due: npm run lint

add SolidityCompat namespace
  assembly/std/index.ts
Due: npm run lint, npm run prettier

export context methods
  assembly/std/index.ts
Due: npm run lint, npm run prettier

fix storage append in vm-mock
  vm-mock/vm.js
Due: npm run lint

support prefix for vm-mock getKeys
  vm-mock/vm.js
Due: npm run lint

move getKeys to storage
  assembly/std/index.ts
  assembly/std/op-datastore/op-datastore.ts
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

Rename `digest` to `data` in `isSignatureValid` and `isEvmSignatureValid` (#303)
  assembly/env/env.ts
  assembly/std/utils/crypto.ts
Due: npm run lint, npm run prettier

Update version to 2.5.2
  package-lock.json
  package.json
Due: npm run lint

Update params name as sdk
  assembly/env/env.ts
  assembly/std/contract/calls.ts
Due: npm run lint, npm run prettier

Add offset to deserialize persistentMap serializable
  assembly/collections/persistentMap.ts
Due: npm run lint, npm run prettier

add keccak256 mock
  assembly/__tests__/vm-mock.spec.ts
  package-lock.json
  package.json
  vm-mock/vm.js
Due: npm run lint, npm run prettier

fix sha256 mock
  assembly/__tests__/utils.ts
  assembly/__tests__/vm-mock.spec.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier
