Repository massalabs/massa-as-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

.lintstagedrc:

{
    "*.{js,ts,jsx,tsx,json,cjs}": [
        "npm run lint"
    ],
    "*.ts": [
        "npm run prettier"
    ]
}

improve doc of stack addresses
  assembly/std/context.ts
Due: npm run lint, npm run prettier

Add a filter to send_message.
  assembly/env/env.ts
  assembly/std/index.ts
Due: npm run lint, npm run prettier

Add better documentation and initializers.
  assembly/std/index.ts
Due: npm run lint, npm run prettier

Fix passing address as string in send message filter.
  assembly/std/index.ts
Due: npm run lint, npm run prettier

disable NFT test
  as-pect.config.js
  assembly/NFT/NFT.ts
  assembly/NFT/__tests__/NFT.spec.ts
  assembly/NFT/__tests__/tester.d.ts
Due: npm run lint, npm run prettier

fix lintstaged hooks
  .lintstagedrc
Due: none

update AS and as-pect
  package-lock.json
  package.json
Due: npm run lint

remove astester, update vm.js
  astester.imports.js
  vm.js
Due: npm run lint

export vm-mock
  .prettierignore
  as-pect.config.js
  package.json
  vm-mock/vm.js
Due: npm run lint

ignore prettify of external defs
  .asprettierignore
  .prettierignore
Due: none

remove ts-ignores for decorators
  assembly/env/env.ts
  assembly/tsconfig.json
  assembly/vm-mock/storage.ts
Due: npm run lint, npm run prettier

update massa-as-sdk
  .prettierignore
  package-lock.json
  package.json
Due: npm run lint

remove NFT contract
  assembly/NFT/NFT.ts
  assembly/NFT/NFTWrapper.ts
  assembly/NFT/__tests__/NFT.spec.ts
  assembly/NFT/index.ts
  assembly/tsconfig.json
Due: npm run lint, npm run prettier

Remove envy (#94)
  .lintstagedrc
  as-pect.config.js
  assembly/NFT/NFT.ts
  assembly/NFT/NFTWrapper.ts
  assembly/NFT/__tests__/NFT.spec.ts
  assembly/NFT/__tests__/tester.d.ts
  assembly/NFT/index.ts
  assembly/env/env.ts
  assembly/vm-mock/storage.ts
  astester.imports.js
  package-lock.json
  package.json
  vm-mock/vm.js
Due: npm run lint, npm run prettier

:coffin: remove nft export
  assembly/index.ts
Due: npm run lint, npm run prettier

for Nathan
  vm-mock/vm.js
Due: npm run lint

fix VM mock
  vm-mock/vm.js
Due: npm run lint

std lib corresponding functions for local execution
  assembly/env/env.ts
  assembly/std/index.ts
Due: npm run lint, npm run prettier

refactor mock
  vm-mock/vm.js
Due: npm run lint

fix mock call stack
  vm-mock/vm.js
Due: npm run lint

remove ERC20 Contract
  assembly/index.ts
  assembly/token/__tests__/as-pect.d.ts
  assembly/token/__tests__/erc20.spec.ts
  assembly/token/impl.ts
  assembly/token/index.ts
  assembly/token/wrapper.ts
Due: npm run lint, npm run prettier

fmt
  assembly/index.ts
Due: npm run lint, npm run prettier

use camel case
  assembly/env/env.ts
  assembly/std/index.ts
Due: npm run lint, npm run prettier

remove ERC20 Contract (#100)
  assembly/index.ts
  assembly/token/__tests__/as-pect.d.ts
  assembly/token/__tests__/erc20.spec.ts
  assembly/token/impl.ts
  assembly/token/index.ts
  assembly/token/wrapper.ts
Due: npm run lint, npm run prettier

Update vm-mock/vm.js
  vm-mock/vm.js
Due: npm run lint

Update assembly/std/context.ts
  assembly/std/context.ts
Due: npm run lint, npm run prettier

:memo: explain address stack
  assembly/std/context.ts
Due: npm run lint, npm run prettier

improve caller
  assembly/std/context.ts
Due: npm run lint, npm run prettier

:recycle:
  vm-mock/vm.js
Due: npm run lint

improve doc of stack address (#91)
  assembly/std/context.ts
Due: npm run lint, npm run prettier

Fix vm mock for as-pect (#98)
  vm-mock/vm.js
Due: npm run lint

move utils from args
  assembly/std/arguments.ts
  assembly/std/index.ts
Due: npm run lint, npm run prettier

update AS to 0.25.0
  assembly/std/address.ts
  package-lock.json
  package.json
Due: npm run lint, npm run prettier

trigger test workflow for every pushs
  .github/workflows/node.js.yml
Due: none

remove unused configs
  .github/workflows/node.js.yml
  .github/workflows/npm-publish.yml
  package-lock.json
  package.json
  scripts/enable-git-ssh.sh
  scripts/publish-dev.sh
Due: npm run lint
