Repository massalabs/massa-as-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint, npx as-prettier --check

.lintstagedrc:

{
  "*.{js,ts,json,cjs}": [
    "npx eslint"
  ],
  "*.ts": [
    "npx as-prettier --check"
  ]
}

Use Storage.getKeys in selfDestruct
  assembly/std/solidity_compat/misc.ts
Due: npx eslint, npx as-prettier --check

Add mock functions for timestamp and reset mock call
  assembly/__tests__/vm-mock.spec.ts
  assembly/vm-mock/env.ts
  vm-mock/vm.js
Due: npx eslint, npx as-prettier --check

Enhance transferRemaining function to accept a refund recipient address and update tests accordingly
  assembly/helpers/__tests__/transferRemaining.spec.ts
  assembly/helpers/transferRemaining.ts
Due: npx eslint, npx as-prettier --check

fix operation datastore mock
  assembly/__tests__/env-opdatastore.spec.ts
  assembly/env/env.ts
  assembly/std/op-datastore/op-datastore.ts
  assembly/vm-mock/storage.ts
  vm-mock/vm.js
Due: npx eslint, npx as-prettier --check

release v3.0.1
  package-lock.json
  package.json
Due: npx eslint

fix hasOpKey
  assembly/env/env.ts
  assembly/std/op-datastore/op-datastore.ts
  vm-mock/vm.js
Due: npx eslint, npx as-prettier --check

release v3.0.2
  package-lock.json
  package.json
Due: npx eslint

Add MiMC ABI
  assembly/__tests__/vm-mock.spec.ts
  assembly/env/env.ts
  assembly/std/utils/crypto.ts
Due: npx eslint, npx as-prettier --check

prettier
  assembly/__tests__/vm-mock.spec.ts
Due: npx eslint, npx as-prettier --check

prettier
  assembly/std/utils/crypto.ts
Due: npx eslint, npx as-prettier --check

add very basic mock
  assembly/__tests__/vm-mock.spec.ts
  vm-mock/vm.js
Due: npx eslint, npx as-prettier --check

include mock chain id in mimc feature gate
  assembly/std/utils/crypto.ts
Due: npx eslint, npx as-prettier --check

Update mock chain id and use constants for feature gate mimc
  assembly/std/constant.ts
  assembly/std/utils/crypto.ts
  vm-mock/vm.js
Due: npx eslint, npx as-prettier --check

update end line format (win > unix)
  vm-mock/vm.js
Due: npx eslint

remove commented code
  vm-mock/vm.js
Due: npx eslint

Add mock JS implementation of MiMC hash
  assembly/__tests__/vm-mock.spec.ts
  assembly/std/utils/crypto.ts
  package-lock.json
  package.json
  vm-mock/mimc.js
  vm-mock/vm.js
Due: npx eslint, npx as-prettier --check

Add MiMC ABI (#379)
  assembly/__tests__/vm-mock.spec.ts
  assembly/env/env.ts
  assembly/std/constant.ts
  assembly/std/utils/crypto.ts
  package-lock.json
  package.json
  vm-mock/mimc.js
  vm-mock/vm.js
Due: npx eslint, npx as-prettier --check

Generate powered-by
  powered-by.md
Due: none

add addressIsEOA mock
  assembly/std/__tests__/address.spec.ts
  vm-mock/vm.js
Due: npx eslint, npx as-prettier --check

Deploy Typedoc to the new massa web host.
  .github/workflows/publish-npm-doc.yml
Due: none

ci: remove the powered-by workflow and the dead coverage badge
  .github/coverage.sh
  .github/workflows/powered-by.yml
  .github/workflows/unit-test.yml
  README.md
  generate_power-by.sh
  powered-by.md
Due: none

add getKeysPage abi
  assembly/__tests__/env-storage-keys.spec.ts
  assembly/env/env.ts
  assembly/std/solidity_compat/misc.ts
  assembly/std/storage.ts
  vm-mock/vm.js
Due: npx eslint, npx as-prettier --check
