Repository massalabs/massa-as-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

.lintstagedrc:

{
    "*.{js,ts,jsx,tsx,json,cjs}": [
        "npm run lint"
    ],
    "*.ts": [
        "npm run prettier"
    ]
}

[vm test] improve test title
  assembly/__tests__/env-coins.spec.ts
Due: npm run lint, npm run prettier

[vm test] improve coins tests
  assembly/__tests__/env-coins.spec.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

[vm test] change balance number to bigInt
  vm-mock/vm.js
Due: npm run lint

[vm test] callCoins
  assembly/__tests__/env-coins.spec.ts
Due: npm run lint, npm run prettier

211 Add VM external Storage related functions (#212)
  assembly/__tests__/env-storage.spec.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

213 mock coins related functions (#214)
  README.md
  assembly/__tests__/env-coins.spec.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

add tests for mocked functions
  assembly/__tests__/env-account.spec.ts
Due: npm run lint, npm run prettier

add mocked functions to /vm-mock/vm.js
  vm-mock/vm.js
Due: npm run lint

edit
  assembly/__tests__/env-account.spec.ts
Due: npm run lint, npm run prettier

216 mock account related functions (#224)
  README.md
  assembly/__tests__/env-account.spec.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

Documentation: Updated index module documentation. (#208)
  assembly/std/index.ts
Due: npm run lint, npm run prettier

Update vm-mock.spec.ts
  assembly/__tests__/vm-mock.spec.ts
Due: npm run lint, npm run prettier

add test for assembly_script_local_call in assembly/__tests__/vm-mock.spec.ts
  assembly/__tests__/vm-mock.spec.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

[fix] move tests
  assembly/__tests__/vm-mock.spec.ts
Due: npm run lint, npm run prettier

Update vm.js
  vm-mock/vm.js
Due: npm run lint

Update README.md
  README.md
Due: none

[fix] remove duplicate
  vm-mock/vm.js
Due: npm run lint

[vm test] fix tests
  assembly/__tests__/env-exec.spec.ts
  assembly/__tests__/env-helpers.spec.ts
Due: npm run lint, npm run prettier

[vm test] local call test
  assembly/__tests__/env-call.spec.ts
Due: npm run lint, npm run prettier

[vm test] use env instead of std
  assembly/__tests__/env-call.spec.ts
Due: npm run lint, npm run prettier

[vm test] remove duplicate
  vm-mock/vm.js
Due: npm run lint

[vm test] add test for call
  assembly/__tests__/env-call.spec.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

210 add unit test for assembly script local call in vm mock (#220)
  README.md
  assembly/__tests__/env-call.spec.ts
  assembly/__tests__/env-exec.spec.ts
  assembly/__tests__/env-helpers.spec.ts
  assembly/__tests__/vm-mock.spec.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

[fix] assembly_script_caller_has_write_access
  vm-mock/vm.js
Due: npm run lint

[fix] add range to address verification to mach variable length
  assembly/__tests__/vm-mock.spec.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

add massabot as author for power-by ci commit
  .github/workflows/powered-by.yml
Due: none

add massabot as author for power-by ci commit (#232)
  .github/workflows/powered-by.yml
Due: none

set an address
  .github/workflows/powered-by.yml
Due: none

test CI
  .github/workflows/powered-by.yml
Due: none

Generate powered-by
  powered-by.md
Due: none

remove CI execution
  .github/workflows/powered-by.yml
Due: none

remove powered-by.md and add it to gitignore
  .gitignore
  powered-by.md
Due: none

fix gitignore
  .gitignore
Due: none

set an address to the author of power-by commit (#233)
  .github/workflows/powered-by.yml
  .gitignore
  powered-by.md
Due: none

set correct address to massabot
  .github/workflows/powered-by.yml
Due: none

set correct address to massabot (#234)
  .github/workflows/powered-by.yml
Due: none

set correct address to massabot (#236)
  .github/workflows/powered-by.yml
Due: none
