Repository massalabs/massa-as-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint, npx as-prettier --check

Add constantKeyManager and keyIncrementer
  assembly/helpers/__tests__/constantKeyManager.spec.ts
  assembly/helpers/__tests__/keyIncrementer.spec.ts
  assembly/helpers/constantKeyManager.ts
  assembly/helpers/keyIncrementer.ts
Due: npx eslint, npx as-prettier --check

Export helpers
  assembly/helpers/index.ts
  assembly/index.ts
Due: npx eslint, npx as-prettier --check

Update package lock
  package-lock.json
Due: npx eslint

339 constant key manager (#340)
  assembly/helpers/__tests__/constantKeyManager.spec.ts
  assembly/helpers/__tests__/keyIncrementer.spec.ts
  assembly/helpers/constantKeyManager.ts
  assembly/helpers/index.ts
  assembly/helpers/keyIncrementer.ts
  assembly/index.ts
  package-lock.json
  package.json
Due: npx eslint, npx as-prettier --check

Generate powered-by
  powered-by.md
Due: none

Fix ConstantManager.set to accept array of serializable
  assembly/helpers/__tests__/constantKeyManager.spec.ts
  assembly/helpers/constantKeyManager.ts
Due: npx eslint, npx as-prettier --check

Update Args
  package-lock.json
  package.json
Due: npx eslint

Fix ConstantManager.set to accept array of serializable (#343)
  assembly/helpers/__tests__/constantKeyManager.spec.ts
  assembly/helpers/constantKeyManager.ts
  package-lock.json
  package.json
Due: npx eslint, npx as-prettier --check

fix CR
  assembly/std/address.ts
Due: npx eslint, npx as-prettier --check

Add is contract address
  assembly/std/__tests__/address.spec.ts
  assembly/std/address.ts
  assembly/tsconfig.json
Due: npx eslint, npx as-prettier --check

Add is contract address (#341)
  assembly/std/__tests__/address.spec.ts
  assembly/std/address.ts
  assembly/tsconfig.json
Due: npx eslint, npx as-prettier --check

update as-types
  package-lock.json
Due: npx eslint

update as-types (#344)
  package-lock.json
Due: npx eslint

Update @massalabs/as-types to last dev version
  package-lock.json
  package.json
Due: npx eslint

Add MapKeyManager helper
  assembly/helpers/__tests__/mapKeyManager.spec.ts
  assembly/helpers/mapKeyManager.ts
Due: npx eslint, npx as-prettier --check

Fix install
  package-lock.json
Due: npx eslint

345 add mapkeymanager (#346)
  assembly/helpers/__tests__/mapKeyManager.spec.ts
  assembly/helpers/mapKeyManager.ts
  package-lock.json
  package.json
Due: npx eslint, npx as-prettier --check

Export liquidity and map managers
  assembly/helpers/index.ts
Due: npx eslint, npx as-prettier --check

Export liquidity and map managers (#348)
  assembly/helpers/index.ts
Due: npx eslint, npx as-prettier --check

vm-mock: sum transfered coins to current contract balance
  vm-mock/vm.js
Due: npx eslint

vm-mock: get dynamuc caller/callee
  assembly/__tests__/vm-mock.spec.ts
  assembly/vm-mock/env.ts
  vm-mock/vm.js
Due: npx eslint, npx as-prettier --check

vm-mock: add spent coins during call
  assembly/__tests__/vm-mock.spec.ts
  vm-mock/vm.js
Due: npx eslint, npx as-prettier --check

update package lock
  assembly/std/utils/events.ts
  package-lock.json
Due: npx eslint, npx as-prettier --check

bump version as type
  assembly/std/utils/arrays.ts
  assembly/std/utils/events.ts
  package-lock.json
  package.json
Due: npx eslint, npx as-prettier --check

add generate raw event function
  .gitignore
  assembly/std/utils/arrays.ts
  assembly/std/utils/events.ts
  package-lock.json
  package.json
Due: npx eslint, npx as-prettier --check

major version bump with breaking changes in vm-mock
  package-lock.json
  package.json
Due: npx eslint

rename asc call to deferred call
  assembly/env/env.ts
  assembly/std/asc.ts
  assembly/std/deferredCalls.ts
  assembly/std/index.ts
Due: npx eslint, npx as-prettier --check

clean and improve as config
  .vscode/settings.json
  asconfig.json
  assembly/__tests__/env-account.spec.ts
  assembly/__tests__/env-opdatastore.spec.ts
  assembly/security/accessControl.ts
  index.ts
  package-lock.json
  package.json
Due: npx eslint, npx as-prettier --check

clean and improve as config (#357)
  .vscode/settings.json
  asconfig.json
  assembly/__tests__/env-account.spec.ts
  assembly/__tests__/env-opdatastore.spec.ts
  assembly/security/accessControl.ts
  index.ts
  package-lock.json
  package.json
Due: npx eslint, npx as-prettier --check

vm-mock: fix callee balance
  package-lock.json
  vm-mock/vm.js
Due: npx eslint

vm-mock: add current slot mock
  assembly/__tests__/env-helpers.spec.ts
  assembly/vm-mock/env.ts
  vm-mock/vm.js
Due: npx eslint, npx as-prettier --check

Path conditions:
  npx eslint: any of: *.{js,ts,json,cjs}
  npx as-prettier --check: any of: *.ts
