Repository massalabs/massa-as-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

Update assembly/std/__tests__/context.spec.ts
  assembly/std/__tests__/context.spec.ts
Due: npm run lint, npm run prettier

[clean] remove useless comments
  as-pect.config.js
Due: npm run lint

[fix] remove duplicate
  .github/workflows/node.js.yml
Due: none

[CI] add readme badge
  .github/workflows/node.js.yml
  README.md
Due: none

[feat] add coverage badge colors
  .github/workflows/node.js.yml
Due: none

170 add a test coverage badge to the readme file (#172)
  .github/workflows/node.js.yml
  README.md
  as-pect-ci.config.js
  as-pect.config.js
  assembly/std/__tests__/context.spec.ts
  assembly/std/context.ts
  package.json
  vm-mock/vm.js
Due: npm run lint, npm run prettier

reviews readme and contributing
  CONTRIBUTING.md
  README.md
Due: none

[doc] improve readme
  README.md
Due: none

Generate powered-by
  powered-by.md
Due: none

[doc] add contributing.md
  CONTRIBUTING.md
Due: none

review generate powered-by
  .github/workflows/powered-by.yml
  generate_power-by.sh
Due: none

adds power-by
  .github/workflows/powered-by.yml
  generate_power-by.sh
Due: none

debug CI
  generate_power-by.sh
Due: none

fix CI
  .github/workflows/powered-by.yml
Due: none

remove verbose mode for powered-by script generation and only generate this file for push on main
  .github/workflows/powered-by.yml
  generate_power-by.sh
Due: none

[clean] remove useless comments
  README.md
Due: none

[resolve] ability to test storage with Uint8Array
  assembly/std/__tests__/storage.spec.ts
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

[doc] improve remainingGas documentation
  assembly/std/context.ts
Due: npm run lint, npm run prettier

[fix] toDatastoreFormat Uint8Array
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

[doc] improve balanceOf documentation
  assembly/std/index.ts
Due: npm run lint, npm run prettier

[doc] improve getOpData documentation
  assembly/std/index.ts
Due: npm run lint, npm run prettier

[doc] improve MAX_DATASTORE_ENTRY_COUNT documentation
  assembly/std/constant.ts
Due: npm run lint, npm run prettier

review toDatastoreFormat and set as template
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

adding technical introduction documentation (readme, index.ts)
  assembly/README.md
  assembly/index.ts
  assembly/tsconfig.json
  index.ts
Due: npm run lint, npm run prettier

[doc] improve hasOpKey documentation
  assembly/std/index.ts
Due: npm run lint, npm run prettier

[doc] add comment for ownedAddresses and json2Address
  assembly/std/context.ts
Due: npm run lint, npm run prettier

[doc] add setBytecode comment
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

[resolve] Add interface that forces all K types to have toString
  assembly/collections/persistentMap.ts
Due: npm run lint, npm run prettier

[doc] improve Address documentation
  assembly/std/address.ts
Due: npm run lint, npm run prettier

[doc] improve callee documentation
  assembly/std/context.ts
Due: npm run lint, npm run prettier

[fix] toBase58 because function doesn't exist]
  assembly/std/index.ts
Due: npm run lint, npm run prettier

Path conditions:
  npm run lint: any of: *.{js,ts,jsx,tsx,json,cjs}
  npm run prettier: any of: *.ts
