Repository massalabs/massa-as-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

add keccak256 mock
  assembly/__tests__/vm-mock.spec.ts
  package-lock.json
  package.json
  vm-mock/vm.js
Due: npm run lint, npm run prettier

Generate powered-by
  powered-by.md
Due: none

add mocks for evm signature functions
  assembly/__tests__/utils.ts
  assembly/__tests__/vm-mock.spec.ts
  package-lock.json
  package.json
  vm-mock/vm.js
Due: npm run lint, npm run prettier

Generate coverage badge
  README.md
Due: none

add mocks for evm signature functions (#309)
  README.md
  assembly/__tests__/utils.ts
  assembly/__tests__/vm-mock.spec.ts
  package-lock.json
  package.json
  vm-mock/vm.js
Due: npm run lint, npm run prettier

fix vm dependencies
  package-lock.json
  package.json
Due: npm run lint

fix vm dependencies (#310)
  package-lock.json
  package.json
Due: npm run lint

Add chainId external function
  assembly/env/env.ts
  assembly/std/context.ts
  package-lock.json
Due: npm run lint, npm run prettier

Add chain id mock
  assembly/vm-mock/env.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

Chain id mock is a single value now (was a stack)
  vm-mock/vm.js
Due: npm run lint

Revert "Add chainId external function"
  README.md
  assembly/env/env.ts
  assembly/std/context.ts
  assembly/vm-mock/env.ts
  package-lock.json
  vm-mock/vm.js
Due: npm run lint, npm run prettier

Revert "Revert "Add chainId external function""
  README.md
  assembly/env/env.ts
  assembly/std/context.ts
  assembly/vm-mock/env.ts
  package-lock.json
  vm-mock/vm.js
Due: npm run lint, npm run prettier

Update chainIdMock comment
  vm-mock/vm.js
Due: npm run lint

Add chain id mock tu
  assembly/__tests__/vm-mock.spec.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

Fix mock
  assembly/__tests__/vm-mock.spec.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

Add chainId to context
  assembly/env/env.ts
  assembly/std/context.ts
  assembly/vm-mock/env.ts
Due: npm run lint, npm run prettier

Fix prettier
  assembly/std/context.ts
  assembly/vm-mock/env.ts
Due: npm run lint, npm run prettier

Code duplication
  vm-mock/vm.js
Due: npm run lint

update to v2.5.3
  package-lock.json
  package.json
Due: npm run lint

Fix concatenateArrays
  vm-mock/vm.js
Due: npm run lint

Update as-types to 2.0.0
  package-lock.json
  package.json
Due: npm run lint

Add dist version
  scripts/add_versions.sh
Due: none

add dist version job
  scripts/add_versions.sh
Due: none

add dist version job
  .github/workflows/add_dist_versions.yml
  .github/workflows/powered-by.yml
  .github/workflows/publish-npm-doc.yml
  .github/workflows/unit-test.yml
  scripts/add_versions.sh
  scripts/publish-dev.sh
Due: none

no
  scripts/add_versions.sh
Due: none

remove tag buildnet-dev
  scripts/add_versions.sh
Due: none

trigger
  scripts/add_versions.sh
Due: none

update tag
  scripts/add_versions.sh
Due: none

remove hardcoded version
  scripts/add_versions.sh
Due: none

Update transferred_coins documentation
  assembly/std/context.ts
Due: npm run lint, npm run prettier

Update context.ts
  assembly/std/context.ts
Due: npm run lint, npm run prettier

Fix getNumberOfKeys minimal length of 4 bytes
  assembly/std/__tests__/index.spec.ts
  assembly/std/op-datastore/util.ts
  package-lock.json
  package.json
Due: npm run lint, npm run prettier

Fix deprecated substr to substring
  assembly/std/__tests__/context.spec.ts
  assembly/std/context.ts
Due: npm run lint, npm run prettier

Move Json to address to utils
  assembly/std/__tests__/context.spec.ts
  assembly/std/context.ts
  assembly/std/utils/address.ts
Due: npm run lint, npm run prettier

Path conditions:
  npm run lint: any of: *.{js,ts,jsx,tsx,json,cjs}
  npm run prettier: any of: *.ts
