Repository massalabs/massa-as-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

.lintstagedrc:

{
    "*.{js,ts,jsx,tsx,json,cjs}": [
        "npm run lint"
    ],
    "*.ts": [
        "npm run prettier"
    ]
}

Update README.md
  README.md
Due: none

changes following CR
  README.md
Due: none

update readme (#131)
  README.md
Due: none

deploy typedoc (#134)
  .github/workflows/npm-publish.yml
  package.json
Due: npm run lint

add mock for sc call
  assembly/index.ts
  assembly/vm-mock/env.ts
  assembly/vm-mock/index.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

add event tests
  assembly/std/__tests__/events.spec.ts
Due: npm run lint, npm run prettier

add event tests (#138)
  assembly/std/__tests__/events.spec.ts
Due: npm run lint, npm run prettier

Update assembly/std/index.ts
  assembly/std/index.ts
Due: npm run lint, npm run prettier

improve doc and sendMessage and some doc improvement
  assembly/std/index.ts
  assembly/std/storage.ts
  assembly/tsconfig.json
  assembly/vm-mock/env.ts
Due: npm run lint, npm run prettier

fix line length
  assembly/std/index.ts
Due: npm run lint, npm run prettier

📝 improve typedoc
  assembly/std/index.ts
Due: npm run lint, npm run prettier

improve doc and sendMessage (#140)
  assembly/std/index.ts
  assembly/std/storage.ts
  assembly/tsconfig.json
  assembly/vm-mock/env.ts
Due: npm run lint, npm run prettier

:wastebasket: deprecate toBytes/fromBytes
  assembly/std/index.ts
Due: npm run lint, npm run prettier

:clown_face: mock caller has right access
  vm-mock/vm.js
Due: npm run lint

116 add caller has right access mock (#141)
  assembly/std/index.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

Rename two ABI exports
  assembly/env/env.ts
Due: npm run lint, npm run prettier

Updated mocked VM
  vm-mock/vm.js
Due: npm run lint

Updated getBytecodeFor => getBytecodeOf
  assembly/env/env.ts
  assembly/std/index.ts
Due: npm run lint, npm run prettier

update readme formatting
  README.md
Due: none

Bump versions v2.0.1
  package-lock.json
  package.json
Due: npm run lint

update as-types
  package-lock.json
  package.json
Due: npm run lint

format CI/CD
  .github/workflows/npm-publish-dev.yml
  .github/workflows/npm-publish.yml
Due: none

install dev as-types
  package-lock.json
  package.json
Due: npm run lint

Bump versions (#143)
  .github/workflows/npm-publish-dev.yml
  .github/workflows/npm-publish.yml
  README.md
  package-lock.json
  package.json
Due: npm run lint

Bump versions (#144)
  package-lock.json
Due: npm run lint

Breaking change: rename two ABI exports (#142)
  assembly/env/env.ts
  assembly/std/index.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

serialize Address
  .github/workflows/node.js.yml
  assembly/__tests__/vm-mock.spec.ts
  assembly/std/__tests__/address.spec.ts
  assembly/std/address.ts
  assembly/std/context.ts
  assembly/std/index.ts
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

deserialize Address with Args
  assembly/std/__tests__/address.spec.ts
  assembly/std/address.ts
Due: npm run lint, npm run prettier

update eslint-config
  package-lock.json
  package.json
Due: npm run lint

fixup
  assembly/std/__tests__/address.spec.ts
  assembly/std/address.ts
Due: npm run lint, npm run prettier

update eslint config
  package-lock.json
  package.json
Due: npm run lint

update dependencies, jsdoc
  .github/workflows/npm-publish.yml
  assembly/std/__tests__/address.spec.ts
  assembly/std/storage.ts
  package-lock.json
  package.json
  vm-mock/vm.js
Due: npm run lint, npm run prettier

refactor: remove Address.fromString: use constructor instead
  assembly/std/__tests__/address.spec.ts
  assembly/std/address.ts
  assembly/std/context.ts
  assembly/std/index.ts
Due: npm run lint, npm run prettier

serialize Address (#145)
  .github/workflows/node.js.yml
  .github/workflows/npm-publish.yml
  assembly/__tests__/vm-mock.spec.ts
  assembly/std/__tests__/address.spec.ts
  assembly/std/address.ts
  assembly/std/context.ts
  assembly/std/index.ts
  assembly/std/storage.ts
  package-lock.json
  package.json
  vm-mock/vm.js
Due: npm run lint, npm run prettier

Add sha256 function
  assembly/env/env.ts
  assembly/std/index.ts
Due: npm run lint, npm run prettier

change function name
  assembly/std/index.ts
Due: npm run lint, npm run prettier

change function param name
  assembly/env/env.ts
Due: npm run lint, npm run prettier

Add vm-mock sha256 external function
  vm-mock/vm.js
Due: npm run lint
