Repository massalabs/massa-as-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

Update .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/bug.md
Due: none

creates issue templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/task.md
Due: none

Update .github/ISSUE_TEMPLATE/task.md
  .github/ISSUE_TEMPLATE/task.md
Due: none

use common as prettier config
  package.json
Due: npm run lint

format code
  assembly/__tests__/vm-mock.spec.ts
  assembly/collections/__tests__/persistentMap.spec.ts
  assembly/collections/index.ts
  assembly/collections/persistentMap.ts
  assembly/env/env.ts
  assembly/env/index.ts
  assembly/index.ts
  assembly/std/__tests__/address.spec.ts
  assembly/std/__tests__/index.spec.ts
  assembly/std/__tests__/storage.spec.ts
  assembly/std/address.ts
  assembly/std/context.ts
  assembly/std/index.ts
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

format files
  .github/ISSUE_TEMPLATE/bug.md
  .lintstagedrc
  README.md
Due: none

Transfer Event to index
  assembly/std/index.ts
  package-lock.json
Due: npm run lint, npm run prettier

Update assembly/std/index.ts
  assembly/std/index.ts
Due: npm run lint, npm run prettier

Transfer Event to index (#128)
  assembly/std/index.ts
  package-lock.json
Due: npm run lint, npm run prettier

:art: format code (#117)
  .github/ISSUE_TEMPLATE/bug.md
  .lintstagedrc
  README.md
  assembly/__tests__/vm-mock.spec.ts
  assembly/collections/__tests__/persistentMap.spec.ts
  assembly/collections/index.ts
  assembly/collections/persistentMap.ts
  assembly/env/env.ts
  assembly/env/index.ts
  assembly/index.ts
  assembly/std/__tests__/address.spec.ts
  assembly/std/__tests__/index.spec.ts
  assembly/std/__tests__/storage.spec.ts
  assembly/std/address.ts
  assembly/std/context.ts
  assembly/std/index.ts
  assembly/std/storage.ts
  package.json
Due: npm run lint, npm run prettier

format code
  assembly/std/index.ts
Due: npm run lint, npm run prettier

update some docstring
  as-pect.config.js
  assembly/collections/persistentMap.ts
  assembly/std/address.ts
  assembly/std/context.ts
  assembly/std/index.ts
  assembly/std/storage.ts
  assembly/vm-mock/index.ts
  assembly/vm-mock/storage.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

tsdoc syntax error
  .eslintrc.cjs
Due: npm run lint

typedoc: move some options
  assembly/tsconfig.json
  package.json
Due: npm run lint

updates linting rules for doc
  .eslintrc.cjs
  package-lock.json
  package.json
Due: npm run lint

first proposal with typedoc
  .gitignore
  assembly/tsconfig.json
  package.json
Due: npm run lint

:heavy_plus_sign: install typedoc
  package-lock.json
  package.json
Due: npm run lint

format code (#129)
  assembly/std/index.ts
Due: npm run lint, npm run prettier

Run fmt
  .eslintrc.cjs
  assembly/collections/persistentMap.ts
  assembly/std/index.ts
Due: npm run lint, npm run prettier

single quote in eslintrc
  .eslintrc.cjs
Due: npm run lint

Update assembly/collections/persistentMap.ts
  assembly/collections/persistentMap.ts
Due: npm run lint, npm run prettier

Solve commentary
  assembly/std/context.ts
Due: npm run lint, npm run prettier

update caller and callee comment
  assembly/std/context.ts
Due: npm run lint, npm run prettier

update readme
  README.md
Due: none

generate documentation (#123)
  .eslintrc.cjs
  .gitignore
  as-pect.config.js
  assembly/collections/persistentMap.ts
  assembly/std/address.ts
  assembly/std/context.ts
  assembly/std/index.ts
  assembly/std/storage.ts
  assembly/tsconfig.json
  assembly/vm-mock/index.ts
  assembly/vm-mock/storage.ts
  package-lock.json
  package.json
  vm-mock/vm.js
Due: npm run lint, npm run prettier

Update README.md
  README.md
Due: none

Push update package.json
  .eslintrc.cjs
  package-lock.json
  package.json
Due: npm run lint

Push update package.json (#133)
  .eslintrc.cjs
  package-lock.json
  package.json
Due: npm run lint

deploy typedoc
  .github/workflows/npm-publish.yml
  package.json
Due: npm run lint

Path conditions:
  npm run lint: any of: *.{js,ts,jsx,tsx,json,cjs}
  npm run prettier: any of: *.ts
