Repository massalabs/massa-as-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

set correct address to massabot
  .github/workflows/powered-by.yml
Due: none

set correct address to massabot (#237)
  .github/workflows/powered-by.yml
Due: none

doc(modules): updated the documentation of each new module
  assembly/std/coins/index.ts
  assembly/std/contract/index.ts
  assembly/std/index.ts
  assembly/std/op-datastore/index.ts
  assembly/std/utils/index.ts
Due: npm run lint, npm run prettier

Update assembly/std/contract/index.ts
  assembly/std/contract/index.ts
Due: npm run lint, npm run prettier

Update assembly/std/contract/calls.ts
  assembly/std/contract/calls.ts
Due: npm run lint, npm run prettier

doc(modules): removed old index documentation
  assembly/std/index.ts
Due: npm run lint, npm run prettier

[archi] reorganise index file
  assembly/std/coins/balance.ts
  assembly/std/coins/index.ts
  assembly/std/coins/transfer.ts
  assembly/std/contract/bytecode.ts
  assembly/std/contract/calls.ts
  assembly/std/contract/index.ts
  assembly/std/index.ts
  assembly/std/op-datastore/index.ts
  assembly/std/op-datastore/op-datastore.ts
  assembly/std/op-datastore/util.ts
  assembly/std/utils/address.ts
  assembly/std/utils/context.ts
  assembly/std/utils/crypto.ts
  assembly/std/utils/events.ts
  assembly/std/utils/file-utils.ts
  assembly/std/utils/index.ts
  assembly/std/utils/logging.ts
  assembly/std/utils/random.ts
Due: npm run lint, npm run prettier

Update assembly/std/utils/index.ts
  assembly/std/utils/index.ts
Due: npm run lint, npm run prettier

Update assembly/std/coins/index.ts
  assembly/std/coins/index.ts
Due: npm run lint, npm run prettier

[CI] add test_ci_contrib branch for test
  .github/workflows/powered-by.yml
Due: none

fix branch for generate powered-by to run
  .github/workflows/powered-by.yml
Due: none

Generate powered-by
  powered-by.md
Due: none

add a new line to restart CI
  .github/workflows/powered-by.yml
Due: none

removing powered-by.md
  .github/workflows/powered-by.yml
  powered-by.md
Due: none

[improvement] code for validate address
  vm-mock/vm.js
Due: npm run lint

[fix] add range to address verification to match variable length (#230)
  assembly/__tests__/vm-mock.spec.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

Update assembly/std/op-datastore/index.ts
  assembly/std/op-datastore/index.ts
Due: npm run lint, npm run prettier

doc(new-modules): added a private remark to each module describing the organization of namespaces
  assembly/std/coins/index.ts
  assembly/std/contract/index.ts
  assembly/std/op-datastore/index.ts
  assembly/std/utils/index.ts
Due: npm run lint, npm run prettier

222 sdk new architecture (#227)
  README.md
  assembly/std/coins/balance.ts
  assembly/std/coins/index.ts
  assembly/std/coins/transfer.ts
  assembly/std/contract/bytecode.ts
  assembly/std/contract/calls.ts
  assembly/std/contract/index.ts
  assembly/std/index.ts
  assembly/std/op-datastore/index.ts
  assembly/std/op-datastore/op-datastore.ts
  assembly/std/op-datastore/util.ts
  assembly/std/utils/address.ts
  assembly/std/utils/context.ts
  assembly/std/utils/crypto.ts
  assembly/std/utils/events.ts
  assembly/std/utils/file-utils.ts
  assembly/std/utils/index.ts
  assembly/std/utils/logging.ts
  assembly/std/utils/random.ts
Due: npm run lint, npm run prettier

feature(mock-context): added tests
  assembly/__tests__/vm-mock.spec.ts
  assembly/vm-mock/env.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

feature(mock-context): added new mock context helpers functions
  assembly/vm-mock/env.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

fix ci
  .github/workflows/powered-by.yml
Due: none

fix ci
  powered-by.md
Due: none

fix ci
  .github/workflows/powered-by.yml
  powered-by.md
Due: none

Update powered-by.md
  powered-by.md
Due: none

fix generate powered-by CI
  .github/workflows/powered-by.yml
Due: none

fix generate powered-by CI (#247)
  .github/workflows/powered-by.yml
Due: none

Update assembly/__tests__/vm-mock.spec.ts
  assembly/__tests__/vm-mock.spec.ts
Due: npm run lint, npm run prettier

Path conditions:
  npm run lint: any of: *.{js,ts,jsx,tsx,json,cjs}
  npm run prettier: any of: *.ts
