Repository massalabs/massa-as-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

.lintstagedrc:

{
    "*.{js,ts,jsx,tsx,json,cjs}": [
        "npm run lint"
    ],
    "*.ts": [
        "npm run prettier"
    ]
}

test
  .github/coverage.sh
  .github/workflows/unit-test.yml
Due: none

Generate coverage badge
  README.md
Due: none

fix unit-test CI (#261)
  .github/coverage.sh
  .github/workflows/node.js.yml
  .github/workflows/publish-npm-dev.yml
  .github/workflows/publish-npm-doc.yml
  .github/workflows/unit-test.yml
  README.md
  vm-mock/vm.js
Due: npm run lint

fix CI - adds on workflow call for unit-test
  .github/workflows/unit-test.yml
Due: none

fix CI - adds on workflow call for unit-test (#264)
  .github/workflows/unit-test.yml
Due: none

[doc] improve localCall doc
  assembly/std/contract/calls.ts
Due: npm run lint, npm run prettier

Update assembly/std/contract/calls.ts
  assembly/std/contract/calls.ts
Due: npm run lint, npm run prettier

[doc] improve localCall doc (#267)
  assembly/std/contract/calls.ts
Due: npm run lint, npm run prettier

Generate powered-by
  powered-by.md
Due: none

[doc] explain op-datastore update
  assembly/std/op-datastore/op-datastore.ts
Due: npm run lint, npm run prettier

[doc] explain op-datastore
  assembly/std/op-datastore/op-datastore.ts
Due: npm run lint, npm run prettier

246 explain the difference between storage and opdatastore (#268)
  assembly/std/op-datastore/op-datastore.ts
Due: npm run lint, npm run prettier

2.1.0
  package-lock.json
  package.json
Due: npm run lint

2.1.0 (#269)
  package-lock.json
  package.json
Due: npm run lint

fix deploy
  .github/workflows/publish-npm-doc.yml
Due: none

fix deploy (#271)
  .github/workflows/publish-npm-doc.yml
Due: none

[npm] update version to latest
  package-lock.json
  package.json
Due: npm run lint

2.2.0
  package-lock.json
  package.json
Due: npm run lint

fix ci release buildnet
  .github/workflows/publish-npm-dev.yml
  .github/workflows/publish-npm.yml
  scripts/publish-dev.sh
  scripts/publish.sh
Due: none

remove bundle part
  .github/workflows/publish-npm.yml
Due: none

prettier
  .github/workflows/publish-npm.yml
Due: none

fix publish
  .github/workflows/publish-npm-dev.yml
  scripts/publish.sh
Due: none

Keccak256 and EVM verify
  assembly/env/env.ts
  assembly/std/utils/crypto.ts
Due: npm run lint, npm run prettier

Minor modif
  assembly/std/utils/crypto.ts
Due: npm run lint, npm run prettier

Update doc
  assembly/std/utils/index.ts
Due: npm run lint, npm run prettier

getOriginOperationId support
  .DS_Store
  assembly/env/env.ts
  assembly/std/contract/calls.ts
  assembly/std/contract/index.ts
  package-lock.json
Due: npm run lint, npm run prettier

restore package-lock.json
  package-lock.json
Due: npm run lint

fix prettier error
  assembly/std/contract/calls.ts
Due: npm run lint, npm run prettier

Fix external export
  assembly/env/env.ts
Due: npm run lint, npm run prettier

demo
  assembly/env/env.ts
  assembly/std/utils/crypto.ts
  assembly/std/utils/events.ts
  assembly/std/utils/new_utils.ts
  package-lock.json
  package.json
Due: npm run lint, npm run prettier

update version
  package-lock.json
  package.json
Due: npm run lint
