Repository massalabs/massa-as-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

.lintstagedrc:

{
    "*.{js,ts,jsx,tsx,json,cjs}": [
        "npm run lint"
    ],
    "*.ts": [
        "npm run prettier"
    ]
}

[Fix] Format code style
  assembly/index.ts
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

173 enhance or add to git documentation readme installation contribute license and powered by (#174)
  .github/workflows/powered-by.yml
  CONTRIBUTING.md
  README.md
  generate_power-by.sh
  powered-by.md
Due: none

add storage module description
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

[Fix] add custom @module tagName
  assembly/std/storage.ts
  assembly/tsdoc.json
Due: npm run lint, npm run prettier

[CI] add test to ci to get errors
  .github/workflows/node.js.yml
Due: none

[fix] ERROR function triggered despite if statement condition being false
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

[ci] use npm run test instead of npm run test:ci ERROR funciton compile time problem
  .github/workflows/node.js.yml
Due: none

[] test push
  test.txt
Due: none

[fix] temporary remove github action coverage
  .github/workflows/node.js.yml
  README.md
Due: none

[doc] add ts doc file to handle @module
  assembly/tsdoc.json
Due: npm run lint

[fix] checkValueType
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

adding test table
  assembly/std/__tests__/storage.spec.ts
  assembly/types.d.ts
Due: npm run lint, npm run prettier

[ci] put back auto coverage badge
  .github/workflows/node.js.yml
Due: none

[ci] handle no coverage
  .github/workflows/node.js.yml
Due: none

[doc] Update storage/set
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

[doc] Update storage/setOf
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

[doc] fix remarks and privateRemarks format
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

[doc] Update storage/get
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

[doc] Update storage/getOf
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

[clean] remove useless @inline decorator
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

[doc] Update storage/del
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

[doc] Update storage/deleteOf
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

[doc] Update storage/append
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

[doc] Update storage/has
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

[doc] Update storage/hasOf
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

[doc] Update storage/setBytecode
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

[clean] add - to rearks to have a cleaner doc
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

[doc] Update storage/setBytecodeOf
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

[doc] Add context file doc v1
  assembly/std/context.ts
Due: npm run lint, npm run prettier

[doc] Update context/json2Address
  assembly/std/context.ts
Due: npm run lint, npm run prettier

[doc] Update context/ownedAddresses
  assembly/std/context.ts
Due: npm run lint, npm run prettier

[doc] Update storage.ts according to review
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

[doc] Update context/remainingGas
  assembly/std/context.ts
Due: npm run lint, npm run prettier

[doc] Update context/timestamp
  assembly/std/context.ts
Due: npm run lint, npm run prettier

[doc] Update context/transferredCoins
  assembly/std/context.ts
Due: npm run lint, npm run prettier

[doc] Update context/callee
  assembly/std/context.ts
Due: npm run lint, npm run prettier

[doc] Update context/caller
  assembly/std/context.ts
Due: npm run lint, npm run prettier

[doc] Update context/addressStack
  assembly/std/context.ts
Due: npm run lint, npm run prettier
