Repository massalabs/massa-as-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

.lintstagedrc:

{
    "*.{js,ts,jsx,tsx,json,cjs}": [
        "npm run lint"
    ],
    "*.ts": [
        "npm run prettier"
    ]
}

:heavy_plus_sign: install massalabs prettier config
  .prettierrc
  package-lock.json
Due: npm run lint

:art: format code
  assembly/collections/index.ts
  assembly/collections/persistentMap.ts
  assembly/env/env.ts
  assembly/env/index.ts
  assembly/index.ts
  assembly/std/__tests__/address.spec.ts
  assembly/std/__tests__/arguments.spec.ts
  assembly/std/__tests__/index.spec.ts
  assembly/std/__tests__/storage.spec.ts
  assembly/std/address.ts
  assembly/std/arguments.ts
  assembly/std/context.ts
  assembly/std/index.ts
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

add both functions to env and index
  assembly/env/env.ts
  assembly/std/index.ts
Due: npm run lint, npm run prettier

fix npm dependencies
  package-lock.json
  package.json
Due: npm run lint

Install massalabs prettier config (#101)
  .prettierrc
  assembly/collections/index.ts
  assembly/collections/persistentMap.ts
  assembly/env/env.ts
  assembly/env/index.ts
  assembly/index.ts
  assembly/std/__tests__/address.spec.ts
  assembly/std/__tests__/arguments.spec.ts
  assembly/std/__tests__/index.spec.ts
  assembly/std/__tests__/storage.spec.ts
  assembly/std/address.ts
  assembly/std/arguments.ts
  assembly/std/context.ts
  assembly/std/index.ts
  assembly/std/storage.ts
  package-lock.json
  package.json
Due: npm run lint, npm run prettier

update doc
  assembly/env/env.ts
  assembly/std/index.ts
Due: npm run lint, npm run prettier

Fix lint
  assembly/env/env.ts
  assembly/std/index.ts
Due: npm run lint, npm run prettier

change encoding utf8 to utf16
  vm-mock/vm.js
Due: npm run lint

change encoding utf8 to utf16 (#109)
  vm-mock/vm.js
Due: npm run lint

remove Args, use the one in as
  assembly/std/__tests__/arguments.spec.ts
  assembly/std/__tests__/storage.spec.ts
  assembly/std/arguments.ts
  assembly/std/index.ts
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

remove Args, use the one in as (#114)
  assembly/std/__tests__/arguments.spec.ts
  assembly/std/__tests__/storage.spec.ts
  assembly/std/arguments.ts
  assembly/std/index.ts
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

adds tests for vm-mock
  asconfig.json
  assembly/__tests__/as-pect.d.ts
  assembly/__tests__/vm-mock.spec.ts
Due: npm run lint, npm run prettier

update as
  package-lock.json
Due: npm run lint

Update assembly/__tests__/vm-mock.spec.ts
  assembly/__tests__/vm-mock.spec.ts
Due: npm run lint, npm run prettier

improve test vm-mock
  assembly/__tests__/vm-mock.spec.ts
Due: npm run lint, npm run prettier

uninstall as
  package-lock.json
  package.json
Due: npm run lint

install as-types
  package-lock.json
  package.json
Due: npm run lint

use Args from as-types
  assembly/std/__tests__/storage.spec.ts
  assembly/std/address.ts
  assembly/std/index.ts
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

Update Doc
  assembly/std/context.ts
  index.ts
Due: npm run lint, npm run prettier

added some hashmap extra functonalities
  assembly/collections/__tests__/persistentMap.spec.ts
  assembly/collections/persistentMap.ts
Due: npm run lint, npm run prettier

fixed tests
  assembly/collections/__tests__/persistentMap.spec.ts
Due: npm run lint, npm run prettier

fixed unit tests
  assembly/collections/__tests__/persistentMap.spec.ts
Due: npm run lint, npm run prettier

fmt
  assembly/collections/__tests__/persistentMap.spec.ts
Due: npm run lint, npm run prettier

113 upgrade to as type remove as (#118)
  assembly/std/__tests__/storage.spec.ts
  assembly/std/address.ts
  assembly/std/index.ts
  assembly/std/storage.ts
  package-lock.json
  package.json
Due: npm run lint, npm run prettier

fixes
  assembly/collections/__tests__/persistentMap.spec.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

don't export Args
  assembly/std/index.ts
Due: npm run lint, npm run prettier

remove useless types reference
  assembly/__tests__/as-pect.d.ts
Due: npm run lint, npm run prettier

fix vm-mock tests
  assembly/__tests__/vm-mock.spec.ts
Due: npm run lint, npm run prettier

Update assembly/std/context.ts
  assembly/std/context.ts
Due: npm run lint, npm run prettier

Fixup following issue 113 (#120)
  assembly/__tests__/as-pect.d.ts
  assembly/__tests__/vm-mock.spec.ts
  assembly/std/index.ts
Due: npm run lint, npm run prettier

Update Doc (#119)
  assembly/std/context.ts
  index.ts
Due: npm run lint, npm run prettier

bump version 2.0.0
  package.json
Due: npm run lint

creates issue templates
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/task.md
Due: none

Update bug.md
  .github/ISSUE_TEMPLATE/bug.md
Due: none

added some hashmap extra functonalities (#26)
  assembly/collections/__tests__/persistentMap.spec.ts
  assembly/collections/persistentMap.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

Update .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/bug.md
Due: none

Update .github/ISSUE_TEMPLATE/task.md
  .github/ISSUE_TEMPLATE/task.md
Due: none
