Repository massalabs/massa-as-sdk: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

Update assembly/__tests__/vm-mock.spec.ts
  assembly/__tests__/vm-mock.spec.ts
Due: npm run lint, npm run prettier

feat(context-helpers-mock): applied suggestions from code review
  vm-mock/vm.js
Due: npm run lint

feature(mock-context): modified tests naming and added boolean param to 'mockAdminContext'
  vm-mock/vm.js
Due: npm run lint

feature(mock-context): modified tests naming and added boolean param to 'mockAdminContext'
  assembly/__tests__/vm-mock.spec.ts
  assembly/vm-mock/env.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

[Clean] remove address validation
  assembly/std/address.ts
Due: npm run lint, npm run prettier

[test] update address validation
  assembly/std/__tests__/address.spec.ts
  assembly/std/__tests__/context.spec.ts
Due: npm run lint, npm run prettier

242 address remove valider and isvalid now that we have a result object (#248)
  README.md
  assembly/std/__tests__/address.spec.ts
  assembly/std/__tests__/context.spec.ts
  assembly/std/address.ts
Due: npm run lint, npm run prettier

Move currentThread and currentPeriod to Context namespace
  assembly/std/context.ts
  assembly/std/utils/context.ts
  assembly/std/utils/index.ts
Due: npm run lint, npm run prettier

add test for context.ts
  assembly/__tests__/env-context.spec.ts
Due: npm run lint, npm run prettier

[archi] move fileToByteArray in contract
  assembly/std/contract/fileToByteArray.ts
  assembly/std/contract/index.ts
  assembly/std/utils/index.ts
Due: npm run lint, npm run prettier

Remove duplication of CI (18.x and 16.x)
  .github/workflows/node.js.yml
Due: none

[CI] use only one version of node
  .github/workflows/node.js.yml
Due: none

Update node.js.yml
  .github/workflows/node.js.yml
Due: none

[archi] move setBytecode to contract
  assembly/std/contract/bytecode.ts
  assembly/std/contract/index.ts
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

update ci to node 18
  .github/workflows/npm-publish-dev.yml
  .github/workflows/npm-publish.yml
Due: none

docs(contributing): added an explanation on how to take into count the new namespaces
  CONTRIBUTING.md
Due: none

[archi] move fileToByteArray in contract (#250)
  assembly/std/contract/fileToByteArray.ts
  assembly/std/contract/index.ts
  assembly/std/utils/index.ts
Due: npm run lint, npm run prettier

[archi] move setBytecode to contract (#255)
  README.md
  assembly/std/contract/bytecode.ts
  assembly/std/contract/index.ts
  assembly/std/storage.ts
Due: npm run lint, npm run prettier

Move currentThread and currentPeriod to Context namespace (#249)
  assembly/__tests__/env-context.spec.ts
  assembly/std/context.ts
  assembly/std/utils/context.ts
  assembly/std/utils/index.ts
Due: npm run lint, npm run prettier

docs(contributing): improved documentation
  CONTRIBUTING.md
Due: none

Remove duplication of ci (18.x and 16.x) (#256)
  .github/workflows/node.js.yml
  .github/workflows/npm-publish-dev.yml
  .github/workflows/npm-publish.yml
Due: none

fix(mock-context): removed dev logs
  vm-mock/vm.js
Due: npm run lint

Feature: Added mock context helpers functions (#243)
  README.md
  assembly/__tests__/vm-mock.spec.ts
  assembly/vm-mock/env.ts
  vm-mock/vm.js
Due: npm run lint, npm run prettier

fix unit-test CI
  .github/coverage.sh
  .github/workflows/node.js.yml
  .github/workflows/unit-test.yml
Due: none

removes npm run build execution
  .github/workflows/unit-test.yml
Due: none

Format CI files
  .github/workflows/publish-npm-dev.yml
  .github/workflows/publish-npm-doc.yml
Due: none

fixes renaming of test ci file
  .github/workflows/npm-publish-dev.yml
  .github/workflows/npm-publish.yml
Due: none

Documentation: Explained namespaces for contributing (#258)
  CONTRIBUTING.md
Due: none

Format CI files (#262)
  .github/workflows/publish-npm-dev.yml
  .github/workflows/publish-npm-doc.yml
Due: none

fix(mock-storage): fixed missing exceptions and exceptions format
  vm-mock/vm.js
Due: npm run lint

fix(mock-errors): fixed wrong return types on mocked storage getters
  vm-mock/vm.js
Due: npm run lint

fix(mock-context): misssing caller et contract addresses reset in 'changeCallStack'
  vm-mock/vm.js
Due: npm run lint

fix(mock-storage): fixed missing exceptions and exceptions format (#254)
  vm-mock/vm.js
Due: npm run lint

fix path to sh script
  .github/workflows/unit-test.yml
Due: none

test
  .github/workflows/unit-test.yml
Due: none

Path conditions:
  npm run lint: any of: *.{js,ts,jsx,tsx,json,cjs}
  npm run prettier: any of: *.ts
